################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AxisAPI/.vs
# Build artifacts
bin/
obj/
Application/bin/
Application/obj/
Domain/bin/
Domain/obj/
Infrastructure/bin/
Infrastructure/obj/
