<?xml version="1.0" encoding="utf-8"?>
<Project>
	<PropertyGroup>
		<WebPublishMethod>ZipDeploy</WebPublishMethod>
		<PublishProvider>AzureWebSite</PublishProvider>

		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>

		<PublishUrl>https://axisapiapp-aqf8axgycwdvbdaq.scm.canadacentral-01.azurewebsites.net:443</PublishUrl>

		<DeleteExistingFiles>false</DeleteExistingFiles>

		<LaunchSiteAfterPublish>true</LaunchSiteAfterPubli

		<SiteUrlToLaunchAfterPublish>
			https://axisapiapp-aqf8axgycwdvbdaq.canadacentral-01.azurewebsites.net
		</SiteUrlToLaunchAfterPublish>

		<TargetFramework>net8.0</TargetFramework>

		<SelfContained>false</SelfContained>
	</PropertyGroup>
</Project>